body {
  font-family: sans-serif;
}

#button {
  font-size: 1em;
  padding: 10px;
  background-color: orange;
}

#button:hover {
  cursor: pointer;
  background-color: orangered;
}

.outerdiv {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
